*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.hero{
    height: 100vh;
    background:  linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 12rem;
    line-height: 1.1;
}

.hero-left h2{
  color: black;
  font: 2rem;
  font-weight: 600;
 
}
.hero-left p{
    color:black;
    font-size: 5rem;
   font-weight: 600;
}

.hero-right img{
    margin-right: 4rem;
    padding-top: 3rem;
    width: 32rem;

}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.hero-hand-icon>p{
    font-size: 4rem;
    font-weight: bold;
}
.hero-hand-icon img{
    width: 4rem;
}
.hero-latest-btn{
    display: flex;
    gap: 1rem;
    background: rgb(230, 92, 23);
    border-radius: 1.4rem;
    width: 11rem;
    padding: 1rem;
    color: antiquewhite;
    cursor: pointer;
}
.hero-latest-btn img{
    width: 2rem;
}



/* Extra small devices (phones, less than 576px) */

  @media only screen and (min-width:310px) and (max-width: 575.98px) {
    .hero{
        height: auto;
        background:  linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
        display: flex;
        flex-direction: column;
        width: 100%;
    }


    .hero-left{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left:2rem;
        text-align: center;
        align-items: center;
       
    }
    
    .hero-left h2{
        font-size: 1.5rem;
        padding-top: 1.2rem;

    }
    .hero-left .pera{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }
    .hero-left .pera p{
        color:black;
        font-size: 1.4rem;
       font-weight: 600;
       text-align: center;
       align-items: center;
       justify-content: center;
       line-height: 3rem;
       
    }
    
    .hero-right img{
     width: 18rem;
        padding-top: 2rem;
        align-items: center;
        justify-content: center;
       text-align: center;
    
    }
    .hero-hand-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1rem;
       
    }
    .hero-hand-icon>p{
        font-size: 2.5rem;
        font-weight: 400;

    }
    .hero-hand-icon img{
        width: 5rem;
        padding-right: 2rem;
    }
    .hero-latest-btn{
        display: flex;
        gap: 1rem;
        background: rgb(230, 92, 23);
        border-radius: 1.4rem;
        width: 11rem;
        margin-left: -4rem;
        padding: 0.5rem;
        color: antiquewhite;
        cursor: pointer;
        font-size: 1rem;
    }
    .hero-latest-btn img{
        width: 1rem;
    }
    
    


  }
  /* Small devices (portrait tablets and large phones, 576px and up) */
  @media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .hero{
    height: max-content;
      background:  linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
      display: flex;
  }
  .hero-left{

      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      padding-left: 2rem;
      line-height: 1.1;
  }
  
  .hero-left h2{
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
  
  }

  .hero-left .pera{
    display: flex;
    flex-direction: column;
    
  }
  .hero-left p{
      color:black;
      font-size: 2rem;
     font-weight: 700;
     text-align: justify;
     padding: 0;
  }
  
  .hero-right img{
      margin-right: -4rem;
      padding-top: 3rem;
      width: 20rem;
  
  }
  .hero-hand-icon{
      display: flex;
      align-items: center;
      gap: 1rem;
  }
  .hero-hand-icon>p{
      font-size: 2.2rem;
      font-weight: bold;
  }
  .hero-hand-icon img{
      width: 4rem;
  }
  .hero-latest-btn{
      display: flex;
      gap: 1rem;
      background: rgb(230, 92, 23);
      border-radius: 1.4rem;
      width: 14rem;
      padding: 1rem;
      color: antiquewhite;
      cursor: pointer;
  }
  .hero-latest-btn img{
      width: 2rem;
  }
  
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .hero{
      height: 100vh;
      background:  linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
      display: flex;
      width: 100%;
  }
  .hero-left{
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      padding-left: 7rem;
      line-height: 1.1;

  }
  
  .hero-left h2{
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    
  }
  .hero-left p{
      color:black;
      font-size: 3rem;
     font-weight: 700;
     line-height: 3.2rem;
  }
  
  .hero-right img{
      margin-right: -4rem;
      padding-top: 3rem;
      width: 28rem;
  
  }
  .hero-hand-icon{
      display: flex;
      align-items: center;
      gap: 1rem;
      
  }
  .hero-hand-icon>p{
      font-size: 3.2rem;
      font-weight: bold;
  }
  .hero-hand-icon img{
      width: 4rem;
  }
  .hero-latest-btn{
      display: flex;
      gap: 1rem;
      background: rgb(230, 92, 23);
      border-radius: 1.4rem;
      width: 14rem;
      padding: 1rem;
      color: antiquewhite;
      cursor: pointer;
  }
  .hero-latest-btn img{
      width: 2rem;
  }
  
  
  }
  
  /* Large devices (desktops, 992px and up) */
  @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
   
.hero{
  height: 100vh;
  background:  linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  display: flex;
}
.hero-left{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 12rem;
  line-height: 1.1;
}

.hero-left h2{
color: black;
font: 2rem;
font-weight: 600;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.hero-left p{
  color:black;
  font-size: 5rem;
 font-weight: 600;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero-right img{
  margin-right: 4rem;
  padding-top: 3rem;
  width: 32rem;

}
.hero-hand-icon{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.hero-hand-icon>p{
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero-hand-icon img{
  width: 4rem;
}
.hero-latest-btn{
  display: flex;
  gap: 1rem;
  background: rgb(230, 92, 23);
  border-radius: 1.4rem;
  width: 13rem;
  padding: 1rem;
  color: antiquewhite;
  cursor: pointer;
}
.hero-latest-btn img{
  width: 2rem;
}
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
   
.hero{
  height: 100vh;
  background:  linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  display: flex;
}
.hero-left{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 10rem;
  line-height: 1.1;
}

.hero-left h2{
color: black;
font: 2rem;
font-weight: 600;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero-left p{
  color:black;
  font-size: 5rem;
 font-weight: 600;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero-right img{
  margin-right: 4rem;
  padding-top: 3rem;
  width: 32rem;

}
.hero-hand-icon{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.hero-hand-icon>p{
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero-hand-icon img{
  width: 4rem;
}
.hero-latest-btn{
  display: flex;
  gap: 1rem;
  background: rgb(230, 92, 23);
  border-radius: 1.4rem;
  width: 13rem;
  padding: 1rem;
  color: antiquewhite;
  cursor: pointer;
}
.hero-latest-btn img{
  width: 2rem;
}
  }
  